<ul class="nav nav-tabs nav-tabs-colored">
    <li class="active"><a>Danh sách</a></li>
    <li><a onclick="ChuyenTab('ChuyenTabThemMoi')">Thêm mới</a></li>
</ul>
<div class="tab-content tab-content-colored">
    <div class="tab-pane fade in active">
        <table class="table table-bordered table-hover data-tables" id="tablePrecious" style="width:100%">
            <thead>
                <tr>
                    <th style="width:30px">STT</th>
                    <th>Tên quý</th>
                    <th>Bắt đầu</th>
                    <th>Kết thúc</th>
                    <th>Hạn báo cáo</th>
                    <th>Xử lý</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
