<ul class="nav nav-tabs nav-tabs-colored">
    <li class="active"><a>Danh sách</a></li>
</ul>
<div class="tab-content tab-content-colored">
    <div class="tab-pane fade in active">
        <table class="table table-bordered table-hover data-tables" id="tableBaoCao" style="width:100%">
            <thead>
                <tr>
                    <th style="width:30px">STT</th>
                    <th>Tên</th>
                    <th>Bắt đầu - Kết thúc</th>
                    <th>Ngày hoàn thành</th>
                    <th>Xử lý</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>